<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317673707394-sjvuofpc31vj1dkdufs3u3pregtk2let.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317673707394-sjvuofpc31vj1dkdufs3u3pregtk2let</string>
	<key>API_KEY</key>
	<string>AIzaSyDGeDYzKbIRZj_RNpPrdiK8XyTAl0K5rPc</string>
	<key>GCM_SENDER_ID</key>
	<string>317673707394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.dapola.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-71c57</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-71c57.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317673707394:ios:99b47e69ae93c0428fa19b</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-71c57.firebaseio.com</string>
</dict>
</plist>